# History files
.Rhistory

# Our CSV file
cbb19.csv

#Our secret.sh file
secret.sh

#The README html file
README.html

#PNG files
Figures/W_EFGO.png
Figures/W_TOR.png
Figures/W_TORD.png
Figures/w_ADJOE.png
Figures/correlation_matrix.png
Figures/model_assumptions.png
Figures/pairwise_interaction.png



#Files that come with our report & our report
report.log
report.synctex.gz
report.pdf
report.aux
report.out

#Rplots.pdf file
Rplots.pdf

-t