# History files
.Rhistory

# Our CSV file
cbb19.csv

#Our secret.sh file
secret.sh

#The README html file
README.html

#PNG & JPEG files
Figures/*.png
Figures/*.jpeg


#Files that come with our report
report.log
report.synctex.gz

#Rplots.pdf file
Rplots.pdf