# History files
.Rhistory

# Our CSV file
cbb19.csv

#Our secret.sh file
secret.sh

#The README html file
README.html

#PNG & JPEG files
Figures/W_EFGO.png
Figures/W_TOR.png
Figures/W_TORD.png



#Files that come with our report & our report
report.log
report.synctex.gz
report.pdf
report.aux

#Rplots.pdf file
Rplots.pdf

-t